html, body {
    height: 100%;
    line-height: 120%;
}

.center {
    text-align: center;
}

.column {
    height: 100%;
    position: relative;
}


/* Application CSS
*******************************************************************/

.application-wrapper {
    background-color: rgb(243, 243, 243);
    border-color: rgb(196, 196, 196);
    border-style: solid;
    border-width: 1px;
    bottom: 0px;
    left: -1px;
    overflow: hidden;
    position: absolute;
    right: -1px;
    top: 0px;
}

.application {
    height: 100%;
    position: relative;
    width: 100%;
}

/* TODO BRN: In order to support firefox scroll bars. The inner body must be 20 px larger than the wrapper and the wrapper
 must have hidden scrolling. This way the panel is still scrollable but it hides the scroll bar. */

.application-body {
    bottom: 0px;
    left: 0px;
    margin-top: 60px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    right: 0px;
    top: 0px;
}


/* Page CSS
*******************************************************************/

.page {
    bottom: 0px;
    height: auto;
    left: 0px;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0px;
    margin-top: 2px;
    padding: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    width: auto;
}

.page-with-header {
    top: 40px;
}

.subheader-row {

}

.subheader-wrapper {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(196, 196, 196);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #888888;
    margin: 2px 4px;
    overflow: hidden;
}

.subheader {
    position: relative;
}

.subheader-left, .subheader-center, .subheader-right {
    position: absolute;
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.subheader-left {
    width: 40%;
    left: 0;
}

.subheader-center {
    width: 20%;
    left: 40%;
    right: 40%;
    padding-top: 4px;
    text-align: center;
}

.subheader-right {
    width: 40%;
    right: 0;
}

.subheader-wrapper .button-wrapper {
    padding: 2px 11px 0px 11px;
}

.rightrow {
    margin-left: 0px;
}

/* Notification CSS
*******************************************************************/

.notification-container {
    position: fixed;
    top: 50px;
    right: 32px;
    z-index: 1040;
    display: none;
    line-height: 120%;
    height: auto;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(207, 226, 243); /* Old browsers */
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #888888;
}

.notification-message {

}

.notification-message.error-notification {
    color: red;
}

/* Panel CSS
*******************************************************************/

.panel-wrapper {
    background-color: rgb(255, 255, 255);
    border-color: rgb(196, 196, 196);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    bottom: 0px;
    box-shadow: 2px 2px 10px #888888;
    left: 0px;
    margin: 2px;
    overflow: hidden;
    position: absolute;
    right: 0px;
    top: 0px;
}

.leftrow .panel-wrapper {
    margin-left: 4px;
}

.rightrow .panel-wrapper {
    margin-right: 4px;
}

.slide-left {
    border-bottom-right-radius: 0;
    border-right-style: none;
    border-top-right-radius: 0;
    margin-left: 20px;
    margin-right: 0px !important;
    padding-right: 0px !important;
}

.panel {
    height: 100%;
    position: relative;
}

.panel-header {
    border-bottom-color: rgb(196, 196, 196);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 34px;
    position: absolute;
    width: 100%;
}

.panel-header-title {
    left: 0px;
    margin-left: 10px;
    margin-right: 35px;
    padding: 0px;
    position: absolute;
    right: 0px;
}

.panel-header-nav {
    line-height: 30px;
    padding-right: 4px;
    padding-top: 1px;
}

.panel-body {
    bottom: 0px;
    left: 0px;
    margin-top: 35px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    right: 0px;
    top: 0px;
}

.panel-body-no-header {
    margin-top: 0px;
}


/* Box CSS
*******************************************************************/

.box {
    height: 100%;
    position: relative;
    width: 100%;
}

.box-body {
    bottom: 0px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.box-with-header .box-body {
    margin-top: 46px;
}

.box-with-footer .box-body {
    margin-bottom: 46px;
}

.box-footer {
    bottom: 0px;
    height: 40px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.box-header {
    font-size: 18px;
    font-weight: 500;
    left: 0px;
    line-height: 32px;
    height: 40px;
    position: absolute;
    top: 0px;
    width: 100%;
}


/* List CSS
*******************************************************************/

.list {

}

.list-item {
    border-bottom-color: rgb(196, 196, 196);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    position: relative;
    width: 100%;
}

.list-item-small {
    height: 34px;
}

.list-item-large {
    height: 68px;
}

.list-item-left {
    height: 100%;
    position: absolute;
    width: 40px;
}

.list-item-center {
    position: absolute;
    margin-left: 40px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}


/* Text CSS
*******************************************************************/

.text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-header {
    font-size: 18px;
    font-weight: 400;
    height: 34px;
    line-height: 34px;
}

.text-simple {
    font-size: 16px;
    font-weight: 200;
    line-height: 34px;
}

.form-wrapper {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-color: rgb(196, 196, 196);
    border-style: solid;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #888888;
}

.button-wrapper {
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

.panel-header-nav .button-wrapper {
    padding: 0;
}

.clickable-box {
    cursor: pointer;
}

.clickable-box:active {
    background-color: rgb(206, 225, 243);
}

.user-name {
    position: absolute;
    left: 34px;
    right: 5px;
}

.room-name {
    left: 10px;
    position: absolute;
    right: 5px;
}

.room-member-name {
    position: absolute;
    left: 34px;
    right: 5px;
}

.header {
    width: 100%;
    height: 60px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(196, 196, 196);
    border-bottom-style: solid;
    background-color: rgb(207, 226, 243); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(207,226,243) 0%, rgb(41,137,216) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(207,226,243)), color-stop(100%,rgb(41,137,216))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(207,226,243) 0%,rgb(41,137,216) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(207,226,243) 0%,rgb(41,137,216) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(207,226,243) 0%,rgb(41,137,216) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(207,226,243) 0%,rgb(41,137,216) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CFE2F3', endColorstr='#2989d8',GradientType=0 ); /* IE6-9 */
}

#header-left {
    width: 40%;
    height: 60px;
    float: left;
}

#header-center {
    width: 20%;
    height: 60px;
    float: left;
}

#header-right {
    width: 40%;
    float: left;
}

#logo {
    min-height: 60px;
    line-height: 60px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #222222;
}

#logo-image {
    width: 40px;
}

.user-status-indicator {
    border-width: 1px;
    border-color: rgb(196, 196, 196);
    border-style: solid;
    border-radius: 6px;
    width: 12px;
    height: 12px;
    margin: 10px;
    position: absolute;
}

.user-status-indicator-available {
    background-color: rgb(46, 191, 5); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(46, 191, 5) 0%, rgb(217, 234, 211) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(46, 191, 5)), color-stop(100%,rgb(217, 234, 211))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(46, 191, 5) 0%,rgb(217, 234, 211) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(46, 191, 5) 0%,rgb(217, 234, 211) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(46, 191, 5) 0%,rgb(217, 234, 211) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(46, 191, 5) 0%,rgb(217, 234, 211) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2EBF05', endColorstr='#D9EAD3',GradientType=0 ); /* IE6-9 */
}

.user-status-indicator-away {
    background-color: rgb(223, 216, 18);/* Old browsers */
    background: -moz-linear-gradient(top, rgb(223, 216, 18) 0%, rgb(255, 242, 204) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(223, 216, 18)), color-stop(100%,rgb(255, 242, 204))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(223, 216, 18) 0%,rgb(255, 242, 204) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(223, 216, 18) 0%,rgb(255, 242, 204) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(223, 216, 18) 0%,rgb(255, 242, 204) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(223, 216, 18) 0%,rgb(255, 242, 204) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DFD812', endColorstr='#FFF2CC',GradientType=0 ); /* IE6-9 */
}

.user-status-indicator-dnd {
    background-color: rgb(195, 30, 14);/* Old browsers */
    background: -moz-linear-gradient(top, rgb(195, 30, 14) 0%, rgb(244, 204, 204) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(195, 30, 14)), color-stop(100%,rgb(244, 204, 204))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(195, 30, 14) 0%,rgb(244, 204, 204) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(195, 30, 14) 0%,rgb(244, 204, 204) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(195, 30, 14) 0%,rgb(244, 204, 204) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(195, 30, 14) 0%,rgb(244, 204, 204) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c31e0e', endColorstr='#F4CCCC',GradientType=0 ); /* IE6-9 */
}

.user-status-indicator-offline {
    background-color: rgb(153, 153, 153); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(153, 153, 153) 0%, rgb(239, 239, 239) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(153, 153, 153)), color-stop(100%,rgb(239, 239, 239))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(153, 153, 153) 0%,rgb(239, 239, 239) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(153, 153, 153) 0%,rgb(239, 239, 239) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(153, 153, 153) 0%,rgb(239, 239, 239) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(153, 153, 153) 0%,rgb(239, 239, 239) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#EFEFEF',GradientType=0 ); /* IE6-9 */
}

.chat-unread-message-count {
    background-color: rgb(196, 196, 196);
    border-radius: 6px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    height: 30px;
    left: 5px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 30px;
}

.chat-name {
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    position: absolute;
    left: 5px;
    right: 5px;
    top: 2px;
}

.chat-unread-message-preview {
    position: absolute;
    top: 34px;
    left: 5px;
    right: 5px;
    height: 34px;
    font-size: 15px;
    font-weight: 200;
    line-height: 34px;
}

/* ChatWidget CSS
*******************************************************************/

.chat-widget {
    height: 100%;
    position: relative;
    width: 100%;
}

.chat-widget-messages, .chat-widget-input {
    position: absolute;
    right: 0;
    left: 0;
    width: auto;
    margin: 0px;
}

.chat-widget-messages {
    top: 0px;
    bottom: 0px;
    height: auto;
    width: auto;
    margin-bottom: 5.5em;
}

.chat-widget-input {
    min-height: 5.5em;
    bottom: 0;
}

.chat-widget-input .column2of2 {
    margin: 0;
}

.chat-widget-input textarea {
    height: 3em;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    position: absolute;
    resize: none;
    right: 0;
    left: 0;
    top: 0;
    bottom: 30px;
    width: auto;
    background-color: rgb(255, 255, 255);
    border-color: rgb(196, 196, 196);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #888888;
}

.chat-widget-input .button-wrapper {
    position: absolute;
    padding: 0px;
}

.chat-widget-input .button-wrapper:first-child {
    left: 0;
    width: 33%;
}

.chat-widget-input .button-wrapper:last-child {
    right: -9%;
    width: 77%;
}

.chat-widget-input .btn {
    position: absolute;
    margin: 2px 4px 4px 4px;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #888888;

}

.chat-widget-input .control-group-checkbox {
    position: absolute;
    top: 3.5em;
    margin-top: 4px;
    margin-left: 2px;
}

#roomChatBoxRowContainer .column1of2 .dropdown-menu {
    background-color: rgb(207, 226, 243); /* Old browsers */
}


/* Message CSS
*******************************************************************/

.message-wrapper {
    padding: 5px;
    position: relative;
}

.message-sent-at, .message-created-at {
    color: rgb(210, 228, 243);
    text-align:right;
    line-height: 30px;
}

.message-sent-by {
    color: rgb(176, 176, 176);
    font-size: 17px;
    font-weight: 200;
    left: 14px;
    position: absolute;
    top: 9px;
    margin: 0;
}

.message-pending-true, .message-failed-true  {
    position: absolute;
    top: 9px;
    right: 14px;
    margin: 0;
}

.message-pending-false, .message-failed-false {
    display: none;
}

.message-failed-true>button, .message-failed-false>button {
    border-radius: 15px;
    line-height: 16px;
    padding: 1px 2px 1px 2px;
}

.message-body {
    font-size: 15px;
    font-weight: 200;
    margin-left: 20px;
    margin-bottom: 10px;
}

/* Hamburger Panel CSS
*******************************************************************/

.hamburger-panel-left>div, .hamburger-panel-right>div {
    background-color: rgb(207, 226, 243); /* Old browsers */
}

.hamburger-panel-hidden {
    position: absolute;
}

.hamburger-panel-hidden.hamburger-panel-left {
    right: 100%;
}

.hamburger-panel-hidden.hamburger-panel-right {
    left: 100%;
}

/* Settings CSS
*******************************************************************/

.settings-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 586px;
    height: 300px;
}

.create-room-box {

}

.login-box {
    margin-left: auto;
    margin-right: auto;
    max-width: 586px;
    height: 296px;
}

.login-box .box-footer {
    height: 60px;
}

.login-box .box-footer .panel-wrapper {
    margin: 0;
}

.btn-github {
    margin: 10px;
}

.registration-box {
    margin-left: auto;
    margin-right: auto;
    max-width: 586px;
}

/* ZeroClipboard
*******************************************************************/
/* these ids do not currently exist*/

    .copy-to-clipboard.zeroclipboard-is-hover { background-color:#eee; }
    .copy-to-clipboard.zeroclipboard-is-active { background-color:#aaa; }


/* AddRoomMemberContainer
*******************************************************************/

li.add-roommember-container {
    padding-left: 3px;
    padding-right: 3px;
}
.add-roommember-container textarea {
    display: block;
}

.faux-textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    background-color: white;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 1em;
    overflow: scroll;
    padding: 2px;
    resize: both;
    width: auto;
    position: relative;
    margin-bottom: 1em;
    right: 0;
    left: 0;
}

.faux-input {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 5px;
    padding: 2px 3px;
    width: 398px;
}

/* CodeEditor and CodeEditorSettings CSS (borrows from Box CSS)
*******************************************************************/

.code-editor.box {
    position: relative;
}

.code-editor .box-body {
    margin: 46px 0px;
}

.code-editor-footer button {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.code-editor-body.ace_editor {
    position: absolute;
}

.code-editor-settings .box-header, .code-editor-settings .box-body, .code-editor-settings .box-footer {
    position: static;
}

.code-editor-settings .box-body {
    margin: 0px;
}

/* Twitter Bootstrap Overrides
*******************************************************************/
@media (max-width: 979px) {
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
    }

    .navbar-fixed-top {
        margin: 0;
    }
}


@media (min-width: 1200px) {
    .row {
        margin-left: 0px;
    }
    [class*="span"] {
        margin-left: 0px;
    }
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 1200px;
    }
    .span12 {
        width: 1200px;
    }
    .span11 {
        width: 1100px;
    }
    .span10 {
        width: 1000px;
    }
    .span9 {
        width: 900px;
    }
    .span8 {
        width: 800px;
    }
    .span7 {
        width: 700px;
    }
    .span6 {
        width: 600px;
    }
    .span5 {
        width: 500px;
    }
    .span4 {
        width: 400px;
    }
    .span3 {
        width: 300px;
    }
    .span2 {
        width: 200px;
    }
    .span1 {
        width: 100px;
    }
    .offset12 {
        margin-left: 1200px;
    }
    .offset11 {
        margin-left: 1100px;
    }
    .offset10 {
        margin-left: 1000px;
    }
    .offset9 {
        margin-left: 900px;
    }
    .offset8 {
        margin-left: 800px;
    }
    .offset7 {
        margin-left: 700px;
    }
    .offset6 {
        margin-left: 600px;
    }
    .offset5 {
        margin-left: 500px;
    }
    .offset4 {
        margin-left: 400px;
    }
    .offset3 {
        margin-left: 300px;
    }
    .offset2 {
        margin-left: 200px;
    }
    .offset1 {
        margin-left: 100px;
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .row {
        margin-left: 0px;
    }

    [class*="span"] {
        margin-left: 0px;
    }

    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 960px;
    }

    .span12 {
        width: 960px;
    }

    .span11 {
        width: 880px;
    }

    .span10 {
        width: 800px;
    }

    .span9 {
        width: 720px;
    }

    .span8 {
        width: 640px;
    }

    .span7 {
        width: 560px;
    }

    .span6 {
        width: 480px;
    }

    .span5 {
        width: 400px;
    }

    .span4 {
        width: 320px;
    }

    .span3 {
        width: 240px;
    }

    .span2 {
        width: 160px;
    }

    .span1 {
        width: 80px;
    }

    .offset12 {
        margin-left: 960px;
    }

    .offset11 {
        margin-left: 880px;
    }

    .offset10 {
        margin-left: 800px;
    }

    .offset9 {
        margin-left: 720px;
    }

    .offset8 {
        margin-left: 640px;
    }

    .offset7 {
        margin-left: 560px;
    }

    .offset6 {
        margin-left: 480px;
    }

    .offset5 {
        margin-left: 400px;
    }

    .offset4 {
        margin-left: 320px;
    }

    .offset3 {
        margin-left: 240px;
    }

    .offset2 {
        margin-left: 160px;
    }

    .offset1 {
        margin-left: 80px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .row {
        margin-left: 0px;
    }
    [class*="span"] {
        margin-left: 0px;
    }
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 744px;
    }
    .span12 {
        width: 744px;
    }
    .span11 {
        width: 682px;
    }
    .span10 {
        width: 620px;
    }
    .span9 {
        width: 558px;
    }
    .span8 {
        width: 496px;
    }
    .span7 {
        width: 434px;
    }
    .span6 {
        width: 372px;
    }
    .span5 {
        width: 310px;
    }
    .span4 {
        width: 248px;
    }
    .span3 {
        width: 186px;
    }
    .span2 {
        width: 124px;
    }
    .span1 {
        width: 62px;
    }
    .offset12 {
        margin-left: 744px;
    }
    .offset11 {
        margin-left: 682px;
    }
    .offset10 {
        margin-left: 620px;
    }
    .offset9 {
        margin-left: 558px;
    }
    .offset8 {
        margin-left: 496px;
    }
    .offset7 {
        margin-left: 434px;
    }
    .offset6 {
        margin-left: 372px;
    }
    .offset5 {
        margin-left: 310px;
    }
    .offset4 {
        margin-left: 248px;
    }
    .offset3 {
        margin-left: 186px;
    }
    .offset2 {
        margin-left: 124px;
    }
    .offset1 {
        margin-left: 62px;
    }
}


@-moz-document url-prefix() {
    .application-body {
        right: -20px;
    }
    .panel-body {
        right: -20px;
    }
}
