html, body {
    height: 100%;
}

.center {
    text-align: center;
}

.column {
    height: 100%;
    position: relative;
}

.application-wrapper {
    background-color: rgb(243, 243, 243);
    border-width: 1px;
    border-color: rgb(196, 196, 196);
    border-style: solid;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -1px;
    right: -1px;
}

.application {
    width: 100%;
    height: 100%;
    position: relative;
}

.application-body {
    margin-top: 60px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.page {
    padding: 20px;
}

.panel-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-width: 1px;
    border-color: rgb(196, 196, 196);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px #888888;
    margin: 4px;
}

.panel-wrapper-left {
    margin-right: 2px;
}

.panel-wrapper-center {
    margin-left: 2px;
    margin-right: 2px;
}

.panel-wrapper-right {
    margin-left: 2px;
}

.panel {
    height: 100%;
    position: relative;
}

.panel-header {
    border-bottom-width: 1px;
    border-bottom-color: rgb(196, 196, 196);
    border-bottom-style: solid;
    width: 100%;
    height: 34px;
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
}

.panel-header-text {
    padding-left: 10px;
}

.panel-header-nav {
    line-height: 30px;
    padding-right: 4px;
    padding-top: 1px;
}

.panel-body {
    overflow: scroll;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: 35px;
}

.panel-body-no-header {
    margin-top: 0px;
}

.panel-item {
    border-bottom-width: 1px;
    border-bottom-color: rgb(196, 196, 196);
    border-bottom-style: solid;
    width: 100%;
    height: 34px;
    position: relative;
}

.panel-item-large {
    height: 68px;
}

.panel-item-left {
    position: absolute;
    width: 40px;
    height: 100%;
}

.panel-item-center {
    position: absolute;
    margin-left: 40px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.panel-item-text {
    line-height: 34px;
    font-size: 16px;
    font-weight: 200;
}

.form-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    max-width: 544px;
    border-width: 1px;
    border-color: rgb(196, 196, 196);
    border-style: solid;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #888888;
}

.button-wrapper {
    padding-top: 10px;
    padding-right: 15px;
}

.clickable-box {
    cursor: pointer;
}

.clickable-box:active {
    background-color: rgb(206, 225, 243);
}

.contact-name {
    position: absolute;
    left: 34px;
}

.room-name {
    position: absolute;
    left: 10px;
}

#header {
    width: 100%;
    height: 60px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(196, 196, 196);
    border-bottom-style: solid;
    background-color: rgb(207, 226, 243); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(207,226,243) 0%, rgb(41,137,216) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(207,226,243)), color-stop(100%,rgb(41,137,216))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(207,226,243) 0%,rgb(41,137,216) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(207,226,243) 0%,rgb(41,137,216) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(207,226,243) 0%,rgb(41,137,216) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(207,226,243) 0%,rgb(41,137,216) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CFE2F3', endColorstr='#2989d8',GradientType=0 ); /* IE6-9 */
}

#header-left {
    width: 40%;
    height: 60px;
    float: left;
}

#header-center {
    width: 20%;
    height: 60px;
    float: left;
}

#header-right {
    width: 40%;
    float: left;
}

#centerrow {
    margin-left: 0px;
}

#rightrow {
    margin-left: 0px;
}

#logo {
    min-height: 60px;
    line-height: 60px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #222222;
}

.contact-status-indicator {
    border-width: 1px;
    border-color: rgb(196, 196, 196);
    border-style: solid;
    border-radius: 6px;
    width: 12px;
    height: 12px;
    margin: 10px;
    position: absolute;
}

.contact-status-indicator-available {
    background-color: rgb(46, 191, 5); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(46, 191, 5) 0%, rgb(217, 234, 211) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(46, 191, 5)), color-stop(100%,rgb(217, 234, 211))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(46, 191, 5) 0%,rgb(217, 234, 211) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(46, 191, 5) 0%,rgb(217, 234, 211) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(46, 191, 5) 0%,rgb(217, 234, 211) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(46, 191, 5) 0%,rgb(217, 234, 211) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2EBF05', endColorstr='#D9EAD3',GradientType=0 ); /* IE6-9 */
}

.contact-status-indicator-away {
    background-color: rgb(223, 216, 18);/* Old browsers */
    background: -moz-linear-gradient(top, rgb(223, 216, 18) 0%, rgb(255, 242, 204) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(223, 216, 18)), color-stop(100%,rgb(255, 242, 204))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(223, 216, 18) 0%,rgb(255, 242, 204) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(223, 216, 18) 0%,rgb(255, 242, 204) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(223, 216, 18) 0%,rgb(255, 242, 204) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(223, 216, 18) 0%,rgb(255, 242, 204) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DFD812', endColorstr='#FFF2CC',GradientType=0 ); /* IE6-9 */
}

.contact-status-indicator-dnd {
    background-color: rgb(195, 30, 14);/* Old browsers */
    background: -moz-linear-gradient(top, rgb(195, 30, 14) 0%, rgb(244, 204, 204) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(195, 30, 14)), color-stop(100%,rgb(244, 204, 204))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(195, 30, 14) 0%,rgb(244, 204, 204) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(195, 30, 14) 0%,rgb(244, 204, 204) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(195, 30, 14) 0%,rgb(244, 204, 204) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(195, 30, 14) 0%,rgb(244, 204, 204) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c31e0e', endColorstr='#F4CCCC',GradientType=0 ); /* IE6-9 */
}

.contact-status-indicator-offline {
    background-color: rgb(153, 153, 153); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(153, 153, 153) 0%, rgb(239, 239, 239) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(153, 153, 153)), color-stop(100%,rgb(239, 239, 239))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(153, 153, 153) 0%,rgb(239, 239, 239) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(153, 153, 153) 0%,rgb(239, 239, 239) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(153, 153, 153) 0%,rgb(239, 239, 239) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(153, 153, 153) 0%,rgb(239, 239, 239) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#EFEFEF',GradientType=0 ); /* IE6-9 */
}

.conversation-unread-message-count {
    left: 5px;
    top: 5px;
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: rgb(196, 196, 196);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 6px;
}

.conversation-name {
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    position: absolute;
    left: 5px;
    top: 2px;
}

.conversation-unread-message-preview {
    position: absolute;
    top: 34px;
    left: 5px;
    right: 5px;
    height: 34px;
    font-size: 15px;
    font-weight: 200;
    line-height: 34px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (min-width: 1200px) {
    #centerrow {
        width: 630px;
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    #centerrow {
        width: 500px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #centerrow {
        width: 392px;
    }
}

/* Twitter Bootstrap Overrides */
@media (max-width: 979px) {
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
    }

    .navbar-fixed-top {
        margin: 0;
    }
}
