<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>airbug</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta name="description" content="Collaborative chat for developers">
    </head>
    <body>
        <script type="text/javascript">
            var _appConfig = JSON.parse("{{{config}}}");
        </script>

        <script type="text/javascript" src="//d1jply0oquv2ju.cloudfront.net/bugpack-0.1.12.min.js"></script>
        <script type="text/javascript" src="{{{staticUrl}}}/airbug-api-bridge.js"></script>
        <script type="text/javascript" src="{{{staticUrl}}}/airbug-application-loader.js"></script>
    </body>
</html>

