<!DOCTYPE html>
<!--
* Copyright (c) 2014 airbug Inc. All rights reserved.
*
* All software, both binary and source contained in this work is the exclusive property
* of airbug Inc. Modification, decompilation, disassembly, or any other means of discovering
* the source code of this software is prohibited. This work is protected under the United
* States copyright law and other international copyright treaties and conventions.
-->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>airbug</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta name="description" content="Collaborative chat for developers">
        <link rel="stylesheet" href="{{{staticUrl}}}/css/bootstrap.css" />
        <link rel="stylesheet" href="{{{staticUrl}}}/css/bootstrap-responsive.css" />
        <link rel="stylesheet" href="{{{staticUrl}}}/css/auth-buttons.css" />
        <link rel="stylesheet" href="//yandex.st/highlightjs/7.5/styles/default.min.css">
        <link rel="stylesheet" href="{{{staticUrl}}}/css/styles.css" />
    </head>
    <body>
        <div id="application-loading-spinner" class="loading bar">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <script type="text/javascript">
            var _appConfig = JSON.parse("{{{config}}}");
        </script>
        <script>
            if (_appConfig.enableTracking) {
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', _appConfig.googleAnalyticsId, 'airbug.com');
                ga('send', 'pageview');
            }
        </script>

        <!-- TODO BRN: Merge the async load code of this user voice script with whatever mechanism we come up with for loading our js files async -->
        <!-- UserVoice JavaScript SDK (only needed once on a page) -->
        <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='https://widget.uservoice.com/EYy2Up2867d0eT7mVPDhDQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>
        <script>
            UserVoice = window.UserVoice || [];
            UserVoice.push(['showTab', 'classic_widget', {
              mode: 'full',
              primary_color: '#cc6d00',
              link_color: '#007dbf',
              default_mode: 'feedback',
              forum_id: 216715,
              tab_label: 'Feedback & Support',
              tab_color: '#cc6d00',
              tab_position: 'middle-right',
              tab_inverted: false,
              top: '83px'
            }]);
        </script>

        <!-- TODO BRN: Figure out how to load the blocking resources in an async way -->

        <!-- TODO BRN: Move these to cloudfront for delivery to avoid the additional DNS lookup-->
        <script src="//yandex.st/highlightjs/7.5/highlight.min.js"></script>

        {{#js.minify}}
            <script type="text/javascript" src="//d1jply0oquv2ju.cloudfront.net/bugpack-0.1.12.min.js"></script>
        {{/js.minify}}
        {{^js.minify}}
            <script type="text/javascript" src="//d1jply0oquv2ju.cloudfront.net/bugpack-0.1.12.js"></script>
        {{/js.minify}}

        {{#js.concat}}
            {{#js.minify}}
                <script type="text/javascript" src="{{{staticUrl}}}/airbug-static.min.js"></script>
            {{/js.minify}}
            {{^js.minify}}
                <script type="text/javascript" src="{{{staticUrl}}}/airbug-static.js"></script>
            {{/js.minify}}
        {{/js.concat}}

        {{#js.minify}}
            <script type="text/javascript" src="{{{staticUrl}}}/airbug-application-loader.min.js"></script>
        {{/js.minify}}
        {{^js.minify}}
            <script type="text/javascript" src="{{{staticUrl}}}/airbug-application-loader.js"></script>
        {{/js.minify}}
    </body>
</html>

