<!DOCTYPE html>
<!--
* Copyright (c) 2014 airbug Inc. All rights reserved.
*
* All software, both binary and source contained in this work is the exclusive property
* of airbug Inc. Modification, decompilation, disassembly, or any other means of discovering
* the source code of this software is prohibited. This work is protected under the United
* States copyright law and other international copyright treaties and conventions.
-->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>airbug</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta name="description" content="Collaborative chat for developers">
    </head>
    <body>
        <script type="text/javascript">
            var _appConfig = JSON.parse("{{{config}}}");
        </script>

        <script type="text/javascript" src="{{{staticUrl}}}/airbug-api-bridge.js"></script>
        {{#js.minify}}
            <script type="text/javascript" src="//d1jply0oquv2ju.cloudfront.net/bugpack-0.1.12.min.js"></script>
        {{/js.minify}}
        {{^js.minify}}
            <script type="text/javascript" src="//d1jply0oquv2ju.cloudfront.net/bugpack-0.1.12.js"></script>
        {{/js.minify}}

        {{#js.concat}}
            {{#js.minify}}
                <script type="text/javascript" src="{{{staticUrl}}}/airbugplugin.min.js"></script>
            {{/js.minify}}
            {{^js.minify}}
                <script type="text/javascript" src="{{{staticUrl}}}/airbugplugin.js"></script>
            {{/js.minify}}
        {{/js.concat}}

        {{#js.minify}}
            <script type="text/javascript" src="{{{staticUrl}}}/airbugplugin-application-loader.min.js"></script>
        {{/js.minify}}
        {{^js.minify}}
            <script type="text/javascript" src="{{{staticUrl}}}/airbugplugin-application-loader.js"></script>
        {{/js.minify}}
    </body>
</html>
